div {
    text-align: center;
}

.u1 {
  padding: 2% 0% 0%;
  font-size: 28;
}

.u2 {
  padding: 2.5% 0% 0%;
}

.u3 {
  padding: 2.5% 0% 0%;
}

.u4{
  padding: 10% 0% 5%;
  font-size: 28;
}

.line{
  margin: 1% 1%;
  padding: 0;
}

input{
  text-align: center;
  width: 10%;
  height: 50px;
  font-size: 20;
}

.gohome{
  text-align: center;
}

.casegh{
  width: 50px;
  height: 50px;
  border-color:red black black red;
  margin-left: -5px;
  color: black;
  border-width: 3px 1px 1px 3px;
}

.casech{
  width: 50px;
  height: 50px;
  border-color:red black black black;
  margin-left: -5px;
  color: black;
  border-width: 3px 1px 1px 1px;
}

.casedh{
  width: 50px;
  height: 50px;
  border-color:red red black black;
  margin-left: -5px;
  color: black;
  border-width: 3px 3px 1px 1px;
}

.casegc{
  width: 50px;
  height: 50px;
  border-color:black black black red;
  margin-left: -5px;
  color: black;
  border-width: 1px 1px 1px 3px;
}

.casecc{
  width: 50px;
  height: 50px;
  border-color:black;
  margin-left: -5px;
  color: black;
}

.casedc{
  width: 50px;
  height: 50px;
  border-color:black red black black;
  margin-left: -5px;
  color: black;
  border-width: 1px 3px 1px 1px;
}

.casegb{
  width: 50px;
  height: 50px;
  border-color:black black red red;
  margin-left: -5px;
  color: black;
  border-width: 1px 1px 3px 3px;
}

.casecb{
  width: 50px;
  height: 50px;
  border-color:black black red black;
  margin-left: -5px;
  color: black;
  border-width: 1px 1px 3px 1px;
}

.casedb{
  width: 50px;
  height: 50px;
  border-color:black red red black;
  margin-left: -5px;
  color: black;
  border-width: 1px 3px 3px 1px;
}